language: node_js
node_js:
  - "node"
  - "7"
  - "4"
services: mongodb

before_script:
  - sleep 15
  - mongo mydb_test --eval 'db.createUser({user:"travis",pwd:"test",roles:["readWrite"]});'

cache:
  directories:
    - "node_modules"
  yarn: true